*.class#package file*.war*.ear#kdiff3 ignore*.orig#maven ignoretarget/out/#eclipse ignore.settings/.project.classpatch#idea.idea//idea/*.ipr*.iml*.iws# Declare files that will always have CRLF line endings on checkout.*.sln text eol=crlf#temp file*.log*.cache*.diff*.tmp#system ignore.DS_StoreThumbs.db/.idea/